*.class

#package
*.war
*.ear

*.orig

target/

#eclips
.settings
.project
.classpatch

#idea
.idea/
/idea/
*.ipr
*.ipr
*.iml
*.iws

#temp
*.log
*.cache
*.diff
*.patch
*.tmp

#sys ignore
.DS_Store
Thumbs.db